$bgColor: #24292e;
$bgColorContent: #1a1c1f;
$text: #fff;

@font-face {
  font-family: "Comic";
  src: url("../fonts/comic.ttf") format("truetype");
  font-weight: normal;
  font-style: italic;
}

.body {
  padding: 1rem;
  margin: 0;
  font-family: Comic, sans-serif;
  background-color: $bgColor;
  color: $text;

  .body__content {
    display: flex;
    background-color: $bgColorContent;
  }

  .body__a {
    text-decoration: none;
    color: gold;
  }
}

@import "./blocks/header.scss";
@import "./blocks/wrap-nav.scss";
@import "./blocks/wrap-reclam.scss";
@import "./blocks/nav.scss";
@import "./blocks/conspect.scss";
